.base-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.base-container .header {
    font-size: 24px;
    font-family: "Open Sans", sans-serif;
}
.base-container .content {
    display: flex;
    flex-direction: column;
}
.base-container .content .image {
    width: 18em;
}
.base-container .content .image img {
    width: 100%;
    height: 100%;
}
.base-container .content .form {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.base-container .content .form .form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: fit-content;
}
.base-container .content .form .form-group label {
    font-size: 20px;
}
.base-container .content .form .form-group input {
    margin-top: 1px;
    min-width: 5em;
    height: 37px;
    padding: 0px 5px;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    background-color: #f3f3f3;
    border: 0;
    border-radius: 2px;
    margin-bottom: 21px;
    transition: all 250ms ease-in-out;
}
.base-container .content .form .form-group input:focus {
    outline: none;
}

.base-container .footer {
    margin-top: 1em;
    margin-bottom: 20px;
}

.base-container .btn {
  padding: 15px 32px;
  font-size: 20px;
  width: 250px;
    border-radius: 1px;
    outline: none;
    border: none;
    margin: 4px 2px;
    cursor: pointer;
    background-color:#2ABCD4;
    color: #fff;
    border: 1px solid;
    transition: all 0.3s ease-out;
  }
  
  