.row-header{
    margin:0px auto;
    padding:0px auto;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.footer{
    background-color: #0D5EDE;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
    color:floralwhite;
}
.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background: #0D5EDE ;
    color:floralwhite;
}

address{
    
    margin:0px;
    color:#0f0f0f;
}

.navbar-dark {
    background-color: #09299E;
}