.row-header{
    margin:0px auto;
    padding:0px auto;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.footer{
    background-color: #248EA6;
    color: beige  ;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}

ul{
    color: blanchedalmond;
}

.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background:#25C7D9 ;
    color:floralwhite;
}

address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}

.media{
    outline-width:1px; 
    outline-style:solid;
    background-color:lightcyan;
    outline-color:blue;
}

.mediaheading{
    font-size:40px;
    margin:10px;
    color:#0f0f0f;
}

.buttons{
    margin:5px;
    width:150px;
    height:60px;
}

.mediaimage{
    width:350px;
    height:350px;
}

.mediabody{
    font-size:20px;
    margin:10px;
    color:#0f0f0f;
}




